.App {
  text-align: center;
}

html{
  height: 100%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
    background: rgb(0,0,0);
  }
	
	@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
/* Firefox */
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  overflow:auto;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
}

.stars {
  background:#000 url(../graphics/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(../graphics/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 350s linear infinite; /* Firefox */
  -webkit-animation:move-twink-back 350s linear infinite; /* Chrome, Safari, Opera */ 
  animation:move-twink-back 350s linear infinite;
}

	
	


